<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="QuickCapturePluginDatasource.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="SimplePointPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <QuickCapturePluginDatasource.Properties.Settings>
      <setting name="FieldName_Feature" serializeAs="String">
        <value>Feature</value>
      </setting>
      <setting name="FieldName_OID" serializeAs="String">
        <value>rowid</value>
      </setting>
      <setting name="TableName_Features" serializeAs="String">
        <value>Features</value>
      </setting>
      <setting name="TableName_Attachments" serializeAs="String">
        <value>Attachments</value>
      </setting>
      <setting name="FieldName_FeatureSvcLayer" serializeAs="String">
        <value>LayerURL</value>
      </setting>
      <setting name="FieldName_FeatureID" serializeAs="String">
        <value>FeatureId</value>
      </setting>
      <setting name="FieldName_Timestamp" serializeAs="String">
        <value>Timestamp</value>
      </setting>
      <setting name="FieldName_Shape" serializeAs="String">
        <value>Shape</value>
      </setting>
      <setting name="FieldName_att_FeatureID" serializeAs="String">
        <value>FeatureId</value>
      </setting>
      <setting name="FieldName_att_FileName" serializeAs="String">
        <value>FileName</value>
      </setting>
      <setting name="FieldName_ErrorMsg" serializeAs="String">
        <value>ErrorMessage</value>
      </setting>
      <setting name="DirName_Attachments" serializeAs="String">
        <value>Attachments</value>
      </setting>
      <setting name="TableName_LayerInfo" serializeAs="String">
        <value>Layers</value>
      </setting>
      <setting name="FieldName_lyr_FileName" serializeAs="String">
        <value>FileName</value>
      </setting>
      <setting name="DirName_LayerInfos" serializeAs="String">
        <value>layerInfos</value>
      </setting>
      <setting name="FieldAlias_att_FileName" serializeAs="String">
        <value>Attachment FileName</value>
      </setting>
    </QuickCapturePluginDatasource.Properties.Settings>
    <QuickCapturePlugin.Properties.Settings>
      <setting name="FieldName_Feature" serializeAs="String">
        <value>Feature</value>
      </setting>
      <setting name="FieldName_OID" serializeAs="String">
        <value>rowid</value>
      </setting>
      <setting name="TableName_Features" serializeAs="String">
        <value>Features</value>
      </setting>
      <setting name="TableName_Attachments" serializeAs="String">
        <value>Attachments</value>
      </setting>
      <setting name="FieldName_FeatureSvcLayer" serializeAs="String">
        <value>LayerURL</value>
      </setting>
      <setting name="FieldName_FeatureID" serializeAs="String">
        <value>FeatureId</value>
      </setting>
      <setting name="FieldName_Timestamp" serializeAs="String">
        <value>Timestamp</value>
      </setting>
      <setting name="FieldName_Shape" serializeAs="String">
        <value>Shape</value>
      </setting>
    </QuickCapturePlugin.Properties.Settings>
  </applicationSettings>
  
</configuration>